<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Química Interactiva</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleindex.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenido a Química Interactiva</h1>
        <p>Explora nuestras herramientas y recursos para el mundo de la química.</p>
    </header>

    <main>
        <section class="secciones">
            <h2>Explora nuestras secciones:</h2>
            <div class="contenedor-botones">
                <a href="{{ url_for('conversiones') }}" class="boton">Conversiones de Unidades</a>
                <a href="{{ url_for('neubauer') }}" class="boton">Cálculo de concentración en camara de Neubauer</a>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; Dante Daniel, 2025</p>
    </footer>
</body>
</html>