body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f8f9; /* Un fondo claro */
    color: #333;
}

header {
    background-color: #2c3e50; /* Un azul oscuro */
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

main {
    padding: 20px;
}

.secciones {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contenedor-botones {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Permite que los botones se envuelvan en pantallas pequeñas */
}

.boton {
    display: inline-block;
    background-color: #3498db; /* Un azul más brillante */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    border: none;
    cursor: pointer;
}

.boton:hover {
    background-color: #2980b9; /* Un tono más oscuro al pasar el ratón */
}

footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}